.rs-util-settings-field {
	margin-bottom: 1rem;

	+ .rs-util-settings-field__description {
		margin-top: -0.5rem;
	}
}

.rs-util-settings-field--multicheck {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
	gap: 0.5rem;

	.rs-util-settings-field__option {
		margin: 0;
		display: flex;
		flex-wrap: wrap;
		align-items: baseline;
		gap: 0.5rem;

		input {
			display: block;
			transform: translateY( 2px );
		}
		label {
			display: block;
		}
	}
}

.rs-util-settings-field-value--options {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: stretch;
	gap: 1rem;

	.rs-util-settings-field-row__description {
		order: -1;
	}
}

.is-style-code-text {
	font-family: var(--font-family-mono,monospace);
	font-size: var(--font-size-code,1rem);
	line-height: var(--font-size-code,1.2);
	width: var(--code-textarea-width,100%);
	height: var(--code-textarea-height,auto);
}